<?xml version="1.0"?>
<model>
    <name>human8</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Vishwas</name>
        <email>vishwas9360@gmail.com</email>
    </author>

    <description>
        Model Created with make human. Test male named human8
    </description>
</model>