<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="1.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find maskon_pkg)/worlds/try3.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>

  <!-- Rviz file -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find maskon_pkg)/rviz/try1.rviz" />


  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find maskon_pkg)/urdf/mybot.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="turtlebot_spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

<!-- Human Models -->

<!-- Human-1 -->
  <include file="$(find maskon_pkg)/launch/spawn.launch">
    <arg name="x" default="0.0" />
    <arg name="y" default="4.0" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="0.75" />
    <arg name="sdf_robot_file" default="$(find maskon_pkg)/worlds/humans/human1/model.sdf" />
    <arg name="robot_name" default="human1" />
  </include>

<!-- Human-2 -->
  <include file="$(find maskon_pkg)/launch/spawn.launch">
    <arg name="x" default="0.0" />
    <arg name="y" default="-6.0" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="1.57" />
    <arg name="sdf_robot_file" default="$(find maskon_pkg)/worlds/humans/human2/model.sdf" />
    <arg name="robot_name" default="human2" />
  </include>

  <!-- Human-3 -->
  <include file="$(find maskon_pkg)/launch/spawn.launch">
    <arg name="x" default="5.0" />
    <arg name="y" default="-5.0" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="-0.75" />
    <arg name="sdf_robot_file" default="$(find maskon_pkg)/worlds/humans/human3/model.sdf" />
    <arg name="robot_name" default="human3" />
  </include>

  <!-- Human-4 -->
  <include file="$(find maskon_pkg)/launch/spawn.launch">
    <arg name="x" default="5.0" />
    <arg name="y" default="5.5" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="0.75" />
    <arg name="sdf_robot_file" default="$(find maskon_pkg)/worlds/humans/human4/model.sdf" />
    <arg name="robot_name" default="human4" />
  </include>

  <!-- Human-5 -->
  <include file="$(find maskon_pkg)/launch/spawn.launch">
    <arg name="x" default="-5.0" />
    <arg name="y" default="6.0" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="0.75" />
    <arg name="sdf_robot_file" default="$(find maskon_pkg)/worlds/humans/human5/model.sdf" />
    <arg name="robot_name" default="human5" />
  </include>

  <!-- Human-6 -->
  <include file="$(find maskon_pkg)/launch/spawn.launch">
    <arg name="x" default="-5.0" />
    <arg name="y" default="-6.0" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="-0.75" />
    <arg name="sdf_robot_file" default="$(find maskon_pkg)/worlds/humans/human6/model.sdf" />
    <arg name="robot_name" default="human6" />
  </include>

  <!-- Human-7 -->
  <include file="$(find maskon_pkg)/launch/spawn.launch">
    <arg name="x" default="10.0" />
    <arg name="y" default="-7.0" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="0.0" />
    <arg name="sdf_robot_file" default="$(find maskon_pkg)/worlds/humans/human7/model.sdf" />
    <arg name="robot_name" default="human7" />
  </include>

  <!-- Human-8 -->
  <include file="$(find maskon_pkg)/launch/spawn.launch">
    <arg name="x" default="10.0" />
    <arg name="y" default="2.5" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="0.75" />
    <arg name="sdf_robot_file" default="$(find maskon_pkg)/worlds/humans/human8/model.sdf" />
    <arg name="robot_name" default="human8" />
  </include>

  <!-- Human-9 -->
  <include file="$(find maskon_pkg)/launch/spawn.launch">
    <arg name="x" default="-10.0" />
    <arg name="y" default="5.0" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="0.75" />
    <arg name="sdf_robot_file" default="$(find maskon_pkg)/worlds/humans/human9/model.sdf" />
    <arg name="robot_name" default="human9" />
  </include>

  <!-- Human-10 -->
  <include file="$(find maskon_pkg)/launch/spawn.launch">
    <arg name="x" default="-10.0" />
    <arg name="y" default="-5.0" />
    <arg name="z" default="0.0" />
    <arg name="yaw" default="0.75" />
    <arg name="sdf_robot_file" default="$(find maskon_pkg)/worlds/humans/human10/model.sdf" />
    <arg name="robot_name" default="human10" />
  </include>

</launch>

    <!-- <actor name="actor"> -->
    <!-- <pose frame=''>0 1 0 0 0 0-</pose> -->
      <!-- <skin> -->
        <!-- <filename>stand.dae</filename> -->
      <!-- </skin> -->
    <!-- </actor> -->
<!-- <actor name="actor"> -->
      <!-- <skin> -->
        <!-- <filename>walk.dae</filename> -->
      <!-- </skin> -->
    <!-- </actor> -->