<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="1.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find maskon_pkg)/worlds/try2.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>

  <!-- Rviz file -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find maskon_pkg)/rviz/try1.rviz" />


  <param name="robot_description" command="$(find xacro)/xacro --inorder urdf/mybot.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
</launch>

    <!-- <actor name="actor"> -->
    <!-- <pose frame=''>0 1 0 0 0 0-</pose> -->
      <!-- <skin> -->
        <!-- <filename>stand.dae</filename> -->
      <!-- </skin> -->
    <!-- </actor> -->
